<!-- templates/base.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{% block title %} Renmo {% endblock %}</title>
</head>
 
<body>
<br> 
<nav class="level">
  <p class="level-item has-text-centered">
    <a class="link is-info" href="{% url 'home' %}">Home</a></li>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" href="{% url 'add_token' %}">Add Tokens</a></li>
  </p>
   <p class="level-item has-text-centered">
    <a class="link is-info" href="{% url 'transfer_token' %}">Send Tokens</a></li>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info headtext" href="{% url 'home' %}">Renmo</a></li alt="" style="font-weight:bold,height: 30px;">
  </p>
 
  <p class="level-item has-text-centered">
    <a class="link is-info" href="{% url 'profile' %}">My Profile</a></li>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" href="{% url 'edit_profile' %}"> Edit Profile</a></li>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" href="{% url 'register' %}">Register</a></li>
  </p>

  
</nav>

<p class="subhead level-item has-text-centered">A payment processing App</p>
    
  <main>
  <br>
  <br>
  <br>
    {% block body %}
    {% endblock %}
  </main>

</html>

