<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>
 
<body>
<nav class="navbar navbar-default navbar-fixed-top">
       <div class="container">
        <div class="navbar-header">
         
          <a class="navbar-brand" href="/">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/account/token">Add Tokens</a></li>
            <li><a href="/account/edit_profile">Edit Profile</a></li>
             <li class=""><a href="/send_tokens">Send Tokens</a></li>
            
              
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/account/profile">Profile</a></li>
            <li><a href="/account/register">Register</a></li>
            
          </ul>
        </div>
      </div> 
    </nav>

    <div class="container">
  <main>
  <br>
  <br>
  <br>
    {% block body %}
    {% endblock %}
  </main>
</body>
</html>