{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}





{% if user.is_authenticated %}

<div class="header">
<p class="level-item has-text-centered"> Greetings, <strong>{{ user.username }}!</strong> <br></p>

  <a class="level-item has-text-centered"href="{% url 'logout' %}">logout</a>
</div>

<article class="media">
  <figure class="media-right">
   
    
  </figure>
  <div class="media-content level-item is-info">
    <div class="content">
      <h1>Recent Activity</h1>

      {% for transac in transactions %}

        <strong>{{ transac.sender.name }}</strong> <small>sent</small> <strong>{{ transac.reciever.name }}</strong>  {{ transac.tokens }} <small>tokens</small>
        <br>
        <strong>Message</strong> : {{ transac.message }} <br>
        <strong>Time</strong> : {{ transac.transfer_time }} <br><br> <br>
        {% endfor %}
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        
      </div>
    </nav>
  </div>
  <div class="media-right">
   
  </div>
</article>
{% else %}

   
  <p class="level-item has-text-centered">Welcome! Please Log in or Register</p> <br>

  <a class="level-item has-text-centered" href="{% url 'login' %}">Login</a>
  <a class="level-item has-text-centered" href="{% url 'register' %}">Register</a> 
{% endif %} 

{% endblock %}