{% extends 'base.html' %}
{% load staticfiles %}




{% block body %}

{% if user.is_authenticated %}

<div class="field enlarge">
    <h2>Token Transfer form:</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
      <button type="submit" class="save btn btn-default">Send Tokens</button>
    </form>
    </div>

    {% else %}

  <p class="level-item has-text-centered">You must be logged in to send tokens!
  <a href="{% url 'login' %}">Login</a></p>
{% endif %}
{% endblock %}


 