
{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
<article class="message msg-head is-info">
  <div class="message-header">
    <p>Profile</p>
  </div>
  <div class="message-body msg">
      <p><strong>Username:</strong> {{ user }}</p>
    <p><strong>First name:</strong> {{ user.first_name }}</p>
    <p><strong>Last name:</strong> {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Tokens:</strong> {{ user.userprofile.tokens }}</p>
     <p><strong>About Me:</strong> {{ user.userprofile.about }}</p>
  </div>
</article>
{% else %}
  <p class="level-item has-text-centered">You must be logged in to edit Profile!
  <a href="{% url 'login' %}">Login</a></p>
{% endif %}
{% endblock %}