
{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}

<article class="message is-dark">
  <div class="message-header">
    <p>Profile</p>
  </div>
  <div class="message-body">
      <p><strong>Username:</strong> {{ user }}</p>
    <p><strong>First name:</strong> {{ user.first_name }}</p>
    <p><strong>Last name:</strong> {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Tokens:</strong> {{ user.userprofile.tokens }}</p>
     <p><strong>About Me:</strong> {{ user.userprofile.about }}</p>
  </div>
</article>
{% endblock %}